* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 40%;
  height: 550px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  background: #ebfffc;
  color: #555;
  height: 60px;
  border-radius: 30px;
  padding: 10px 25px;
  border: 0;
  outline: 0;
  font-size: 18px;
  margin-right: 16px;
  flex: 1;
}

.search button {
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: #ebfffc;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.col {
  text-align: left;
  align-items: center;
  display: flex;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
